<!DOCTYPE html>
<html>
  <head>
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="container">
        <div class="head">
            <h1>To-Do List</h1>
            <div style="display: flex; align-items: center;">
                <h3>User</h3>
                <a href="./login.html" style="text-decoration: none; color: red;">
                Log out
                </a>
            </div>
      </div>

      <div class="task-add">
        <form id="task-form" method="post">
            <div class="form1">
              <input type="text" name="name" placeholder="Add Task...">
              <input type="date" name="date">
              <select name="status">
                <option class="opt">
                  Not started
                </option>
                <option class="opt">
                  In progress
                </option>
                <option class="opt">
                  Completed
                </option>
              </select>
            </div>
            <div class="fomr1">
              <input type="text" name="details" placeholder="Details ...">
              <button type="submit" class="btn">Add Task</button>
            </div>
          </form>
      </div>
      <hr style="margin: 10px 5px;">
      <div class="task">
        <ul id="task-list">
          <li>
              <div>
                  Task-name
              </div>
              <div>
                    <input type="text" value="Completed" readonly >
                    <input type="date" value="2023-03-06" readonly>
                    <button type="submit" class="edit"><a href="./edit.html">Edit</a></button>
                    <button type="submit" class="delete"><a href="./edit.html">Delete</a></button>
              </div>
          </li>
        </ul>
        <ul class="details"> 
            Task-Details: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, eaque?
        </ul>
      </div>
      <div class="task">
        <ul id="task-list">
          <li>
              <div>
                  Task-name
              </div>
              <div>
                    <input type="text" value="In progress" readonly>
                    <input type="date" value="2023-03-06" readonly>
                    <button type="submit" class="edit"><a href="./edit.html">Edit</a></button>
                    <button type="submit" class="delete"><a href="./edit.html">Delete</a></button>
              </div>
          </li>
        </ul>
        <ul class="details"> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime molestiae molestias explicabo recusandae a perspiciatis beatae dolorem vitae. Reprehenderit, numquam? 
        </ul>
      </div>
    </div>
  </body>
</html>